.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5vh;
    height: 10%;
    position: fixed;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}

.navbar div {
        padding: 1vh 2vh 1vh 5vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
}

.navbar img {
    height: 6vh;
    border-radius: 100%;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 3vh;
}

.navbar a {
    text-decoration: none;
    color: white;
    transition: 250ms;
    font-size: 2.1vh;
}

.navbar a:hover {
    color: darkgrey;
    text-shadow: 0px 0px 8px #7c72ff ;
}

*, html, body {
    font-family: "Outfit", sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    color: white;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-size: larger;
}

main {
    background-color: #0e1019;
}

#home {
    gap: 2vh;
}

#home img {
    height: 20vh;
    border-radius: 100%;
}

#home p {
    text-align: center;
    padding-left: 28vh;
    padding-right: 28vh;
}

#about {
    gap: 2vh;
}

#about button {
    border-radius: 3rem;
    width: 13vh;
    height: 5vh;
    justify-content: center;
    align-content: center;
    background-color: #7c72ff;
    border-color: #7c72ff;
    transition: 270ms;
}

#about button:hover {
    background-color: #0e1019;
}

#projects {
    gap: 2vh;
}

#contact {
    gap: 2vh;
}

#contact svg {
    fill: white;
    margin: 1.1vh;
}

#contact a {
    color: transparent;
    position: relative;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-card {
    width: 300px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.project-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 15px;
    flex: 1;
}

.card-content h3 {
    margin-top: 0;
    font-size: 1.2em;
    color: #7c72ff;
}

.card-content p {
    margin-bottom: 10px;
    line-height: 1.5;
    color: #0e1019;
}

.btn {
    align-self: center;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: auto;
    margin-bottom: 15px;
}

.btn:hover {
    background-color: #0056b3;
}

@media (max-width: 1352px) {
    .navbar a {
        font-size: 16px;
    }

    #home p {
        padding-left: 14vh;
        padding-right: 14vh;
        font-size: medium;
    }
}

@media (max-width: 992px) {
    #home p {
        padding-left: 2vh;
        padding-right: 2vh;
        font-size: medium;
    }
}

/* For screens smaller than 768px (typical tablet breakpoint) */
@media (max-width: 768px) {
    .navbar {
        height: auto;
    }

    .navbar a {
         font-size: 15px;
    }

    .navbar ul {
        gap: 1.5vh;
    }

    .navbar img {
        height: 4.5vh;
    }

    .navbar div {
        padding: 1vh 2vh;
    }

    #home img {
        height: 15vh;
    }

    #home h1 {
        font-size: larger;
    }

    #home p {
        padding-left: 2vh;
        padding-right: 2vh;
        font-size: medium;
    }
}

/* For screens smaller than 480px (typical mobile breakpoint) */
@media (max-width: 480px) {
    .navbar a {
        font-size: 12px;
    }

    .navbar img {
        height: 3vh;
    }

    #home img {
        height: 8.8vh;
    }

    #home p {
        font-size: small;
    }
}


